[package]
name = "avr-device"
version = "0.1.0"
authors = ["Rahix <rahix@rahix.de>"]
edition = "2018"
build = "build.rs"

[features]
atmega1280 = []
atmega8 = []
atmega328p = []
atmega32u4 = []
atmega64 = []
attiny85 = []
rt = ["avr-device-macros"]

[dependencies]
bare-metal = "0.2.5"
vcell = "0.1.2"

[dependencies.avr-device-macros]
path = "macros/"
optional = true
