[package]
name = "avr-device"
version = "0.1.0"

authors = ["Rahix <rahix@rahix.de>"]
edition = "2018"
description = "Register access crate for AVR microcontrollers"
license = "MIT OR Apache-2.0"
repository = "https://github.com/Rahix/avr-device"
readme = "README.md"
keywords = ["avr", "arduino"]
categories = ["no-std", "embedded", "hardware-support"]

build = "build.rs"

[features]
atmega1280 = []
atmega8 = []
atmega328p = []
atmega32u4 = []
atmega64 = []
attiny85 = []
rt = ["avr-device-macros"]

[dependencies]
bare-metal = "0.2.5"
vcell = "0.1.2"

[dependencies.avr-device-macros]
path = "macros/"
optional = true
