[package]
name = "avr-device"
version = "0.2.1"

authors = ["Rahix <rahix@rahix.de>"]
edition = "2018"
description = "Register access crate for AVR microcontrollers"
license = "MIT OR Apache-2.0"
repository = "https://github.com/Rahix/avr-device"
readme = "README.md"
keywords = ["avr", "arduino"]
categories = ["no-std", "embedded", "hardware-support"]

include = [
    "/src/**/*.rs",
    "/LICENSE-*",
    "/README.md",
]

[package.metadata.docs.rs]
all-features = true

[features]
atmega1280 = []
atmega168 = []
atmega2560 = []
atmega8 = []
atmega328p = []
atmega32u4 = []
atmega64 = []
attiny85 = []
attiny88 = []
shared = []
rt = ["avr-device-macros"]

[dependencies]
bare-metal = "0.2.5"
vcell = "0.1.2"
cfg-if = "0.1.10"

[dependencies.avr-device-macros]
path = "macros/"
version = "=0.2.0"
optional = true
